@model IEnumerable<Sammlerplattform.Models.ManufactoryDatabase.Manufactory>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Herstellerverwaltung";
    Layout = "_LayoutSettings";
    int count = 0;
}

<h3>@ViewData["Title"]</h3>
<p>Jeder Hersteller kann hier in seinem Detail vertieft werden. Jedoch können Hersteller erst noch Rücksprache mit dem Administrator gelöscht werden, da eine Löschung negative Auswirkungen auf viele Sammlerstücke haben kann.</p>
<hr />

<div class="btn-group" role="group" aria-label="">
    <a type="button" class="btn btn-success CreateManufactoryButton" asp-action="CreateManufactory" asp-controller="ManufactoryDatabase">Eintrag erstellen</a>
    <button id="SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufactoryName)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.ProductionFacility!.ProductionFacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityList)
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                string cityCollection = string.Empty;
                if(item.CityList != null)
                {
                    @foreach (var city in item.CityList)
                    {
                        foreach (var cnoc in city.CityOeconymList)
                        {
                            cityCollection += cnoc.Oeconym.OeconymName + ", ";
                        }

                    }
                }
                <tr>
                    <td id="manufactoryName_@count">
                        @Html.DisplayFor(modelItem => item.ManufactoryName)
                    </td>
                    <td>
                        @if (item.ProductionFacility != null)
                        {
                            @Html.DisplayFor(modelItem => item.ProductionFacility.ProductionFacilityName)
                        }
                    </td>
                    <td>
                        @cityCollection
                    </td>
                    <td>
                        <div>
                            <a asp-action="EditManufactory" asp-controller="ManufactoryDatabase" asp-route-id="@item.ManufactoryID" class="EditManufactoryButton">Ändern</a>
                        </div>
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>

<div id="mySidebar" class="zIndex_5 sidenav-search box-shadow">
    <partial name="_SearchByColumn.cshtml" />
</div>

