@model Sammlerplattform.Models.ManufactoryDatabase.ManufactoryOperationParameterModel

@{
    ViewData["Title"] = "Hersteller ändern";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";

    string separator = ", ";
}

<h1>@ViewData["Title"]</h1>
<h5>Optional auch Ort und Produktionsstätte</h5>
<hr />
<form asp-action="EditManufactorySubmit" asp-controller="ManufactoryDatabase">
    <div id="appendConcludedLists" style="display:none"></div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Manufactory.Manufactory_ID" type="hidden" />
    <div class="form-group">
        <label asp-for="Manufactory.ManufactoryName" class="control-label"></label>*
        <input asp-for="Manufactory.ManufactoryName" class="form-control storeInput" required maxlength="100" />
        <span asp-validation-for="Manufactory.ManufactoryName" class="text-danger"></span>
    </div>
    <table class="table" id="cityTable">
        <thead>
            <tr>
                <th scope="col">Orts_ID</th>
                <th scope="col">Ort</th>
                <th scope="col">PLZ</th>
                <th scope="col">Beiname</th>
                <th scope="col">Geographischer Bezug</th>
                <th scope="col">Weitere Aktionen</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var city in Model.Manufactory.CityICollection)
            {
                int count = 0;
                <tr id="trCity_@count">
                    <td scope="col" class="InputPostcardCityID">@city.City_ID</td>
                    <td scope="col">
                        @foreach (var cno in city.CityNOeconymICollection)
                        {
                            if (cno.CurrentName)
                            {
                                <strong>@cno.Oeconym.OeconymName</strong>
                                @separator
                            }
                            else
                            {
                                @cno.Oeconym.OeconymName @separator
                            }
                        }
                    </td>
                    <td scope="col">
                        @foreach (var postalcode in city.PostalcodeICollection)
                        {
                            @postalcode.PostalcodeNumber
                            @separator
                        }
                    </td>
                    <td scope="col">@city.Byname</td>
                    <td scope="col">
                        @if (city.Geography != null)
                        {
                            @city.Geography.GeographyName
                        }
                    </td>
                    <td scope="col">
                        <button type="button" id="@count" class="btn btn-outline-danger DeleteCity">Entfernen</button>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
    <button id="cityModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsCityExistingModal">
        Ort hinzufügen
    </button>
    <div class="form-group">
        <label asp-for="ProductionFacility.ProductionFacilityName" class="control-label"></label>
        <input asp-for="ProductionFacility.ProductionFacilityName" class="form-control InputProductionFacility" />
        <span asp-validation-for="ProductionFacility.ProductionFacilityName" class="text-danger"></span>
    </div>
    <div class="form-group pt-2">
        <input id="submit-button" type="submit" value="Ändern" class="btn btn-primary" onclick="ConcludeLists()" />
    </div>
</form>

<partial name="~/Views/CityDatabase/_SearchForCity.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
