@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Localizer["Meta_Description"]" />
    <title>@ViewData["Title"] - SammlerDB</title>
    <link rel="stylesheet" href="~/lib/fancybox/fancybox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand fs-2" asp-controller="Home" asp-action="Frontpage">uffheba</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Passkey" asp-action="Login">@Localizer["Login"]</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Passkey" asp-action="Register">@Localizer["Register"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-3">
        <partial name="_CookieConsentPartial" />
        <partial name="_StatusMessage" for="@ViewData["StatusMessage"]" />
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_SettingsCommonFooter" />

    <script src="~/lib/jquery/jQuery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fancybox/fancybox.umd.js"></script>
    <script type="module" src="~/js/fancybox-init.js" asp-append-version="true"></script>
    <script type="module" src="~/js/passkey/login.js" asp-append-version="true"></script>
    <script type="module" src="~/js/passkey/register.js" asp-append-version="true">
        </script>
    @RenderSection("Scripts", required: false)
</body>
</html>