@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="Yq3gIl5rMxU0oRPMKBb5G1cmF6YLSZyhxkaNmbtnZEE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Localizer["Meta_Description"]" />
    <title>@ViewData["Title"] - uffheba</title>
    <link rel="stylesheet" href="~/lib/fancybox/fancybox.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand fs-2" asp-controller="Home" asp-action="Frontpage">uffheba</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Passkey" asp-action="Login">@Localizer["Login"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Passkey" asp-action="Register">@Localizer["Register"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-3">
        <partial name="_CookieConsentPartial" />
        <partial name="_StatusMessage" for="@ViewData["StatusMessage"]" />
        <main>
            @RenderBody()
        </main>
    </div>

    <partial name="_SettingsCommonFooter" />

    <script src="~/lib/jquery/jQuery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/shared.min.js" asp-append-version="true"></script>
    <script src="~/lib/fancybox/fancybox.umd.js"></script>
    <script type="module" src="~/js/fancyboxInit.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/pages/login.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/pages/register.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>