@model IEnumerable<CollectionSet>
@using Microsoft.AspNetCore.Mvc.Localization
@using Sammlerplattform.Models.CollectionItemDatabase.CollectionSetDatabase
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["CollectionSet_Administration"];
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h3>@ViewData["Title"]</h3>
<p>@Localizer["Delete_NotAllowed"]</p>
<hr />

<div class="btn-group" role="group" aria-label="">
    <a type="button" href="/CollectionSetDatabase/Create" class="btn btn-success">@Localizer["Create"]</a>
    <button id="tooltip-SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionSetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionSetName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CollectionSetId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="FieldDatabase" asp-action="Index">
    <partial name="~/Views/CollectionSetDatabase/_SearchByColumn.cshtml" />
</form>
