@model BodyOfWaterOperationParameterModel
@using Sammlerplattform.Models.PlaceDatabase
@using Sammlerplattform.Models.PlaceDatabase.BodyOfWaterDatabase

@{
    ViewData["Title"] = "Gewässer ändern";
    Layout = "~/Views/Shared/_LayoutSettingsPlace.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="EditSubmit" asp-controller="BodyOfWaterDatabase">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Place.PlaceID" type="hidden">
    <input asp-for="Place.ToponymyTypeInt" type="hidden">

    <div id="toponymyContainer" class="mb-3">
        @for (int i = 0; i < Model.PlaceNToponymyList.Count; i++)
        {
            <div class="input-group inputDivToponymy mb-2">
                <div class="input-group">
                    <input class="form-control inputToponymy" placeholder="Geografischer Name" asp-for="PlaceNToponymyList[@i].Toponymy.ToponymyName">
                </div>
                <div class="form-check">
                    <input class="form-check-input checkboxCurrentName" asp-for="PlaceNToponymyList[i].IsCurrentName" id="currentName_@i">
                    <label class="form-check-label ms-1" for="currentName_@i">Aktueller Name</label>
                </div>
                <button type="button" class="btn btn-danger removeToponmy">Entfernen</button>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary" onclick="addToponymy()">Mehr Ortsnamen hinzufügen</button>    
    <div class="mb-3">        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Geografischer Name</th>
                    <th scope="col">Weitere Spezifikationen</th>
                    <th scope="col">Bezug</th>
                    <th scope="col">Weitere Aktionen</th>
                </tr>
            </thead>
            <tbody id="appendPlaceHere">
                @if (Model.Place.ParentPlace != null)
                {
                    var vm = PlaceViewModelHelper.FromDomainModel(Model.Place.ParentPlace);
                    <tr data-type="parent" class="placeTableRow">
                        <td>@Html.Raw(vm.Toponymy)</td>
                        <td>@Html.Raw(vm.FurtherSpecs)</td>
                        <td>Eltern</td>
                        <td>
                            <input type="hidden" asp-for="Place.ParentPlaceID">
                            <button type="button" class="btn btn-danger btn-sm removePlaceRow">Entfernen</button>
                        </td>
                    </tr>
                }
                @if (Model.ChildPlaceList.Count > 0)
                {
                    for( int i = 0; i < Model.ChildPlaceList.Count; i++)
                    {
                        var vm = PlaceViewModelHelper.FromDomainModel(Model.ChildPlaceList[i]);
                        <tr data-type="child" class="placeTableRow">
                            <td>@Html.Raw(vm.Toponymy)</td>
                            <td>@Html.Raw(vm.FurtherSpecs)</td>
                            <td>Kind</td>
                            <td>
                                <input type="hidden" name="ChildPlaceList[@i].PlaceID" value="@Model.ChildPlaceList[i].PlaceID">
                                <button type="button" class="btn btn-danger btn-sm removePlaceRow">Entfernen</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#placeModal">
            Orte hinzufügen
        </button>
    </div>
    <hr />

    <button class="btn btn-primary">Ändern</button>
</form>

<partial name="~/Views/PlaceDatabase/_ModalPlace.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}