@using Sammlerplattform.Models.CollectionItemDatabase
@using Sammlerplattform.Models.ParticipantDatabase
@using Sammlerplattform.Models.PlaceDatabase
@model CollectionItemDisplayDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["CollectionItemEntity_Delete"];
    Layout = "~/Views/Shared/_LayoutSettingsCollectionItem.cshtml";
}

<h1>@ViewData["Title"]: @Model.DisplayName</h1>
<h2>@Localizer["Delete_Confirm"]</h2>
<hr />

<partial name="_Details" model="Model" />

<form asp-action="Delete">
    <input type="hidden" name="CollectionItemEntityID" value="@Model.CollectionItemEntity.CollectionItemEntityID" />
    <input type="hidden" name="CollectionAreaID" value="@Model.CollectionItemEntity.CollectionAreaID" />
    <div class="mt-4 pt-3 border-top">
        <button type="submit" class="btn btn-danger btn-lg px-5">
            <i class="bi bi-check-circle"></i> @Localizer["Delete"]
        </button>
        <a asp-action="Index" class="btn btn-secondary ms-2">
            @Localizer["Cancel"]
        </a>
    </div>
</form>
