@model IEnumerable<Sammlerplattform.Models.CollectionItemDatabase.CollectionItemDisplayDTO>
@using Sammlerplattform.Models.CollectionAreaDatabase
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    CollectionArea? collectionArea = ViewData["collectionArea"] as CollectionArea;
    ViewData["Title"] = Localizer["CollectionItemEntity_Administration", collectionArea?.CollectionAreaName ?? "Unknown"];
    Layout = "~/Views/Shared/_LayoutSettingsCollectionItem.cshtml";
    int count = 0;
}
@if (collectionArea != null)
{
    <h1>@ViewData["Title"] - @collectionArea.CollectionAreaName</h1>
}
else
{
    <h1>@ViewData["Title"]</h1>
}
<hr />
<div class="btn-group">
    @if(collectionArea != null) {
        <a type="button" href="/CollectionItemDatabase/Create?collectionAreaID=@collectionArea.CollectionAreaID" class="btn btn-success">@Localizer["Create"]</a>
    }
    <button id="openSidebarButton" class="btn btn-info" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><i class="bi bi-search"></i></button>
    <a type="button" href="/CollectionItemDatabase/DownloadSubmit?userId=@ViewData["userId"]" class="btn btn-success">@Localizer["CollectionItemEntity_Download_All"]</a>
</div>

<table class="table">
    <caption class="visually-hidden">@Localizer["CollectionItemEntity"]</caption>
    <thead>
        <tr>
            <th>@Localizer["Pictures"]</th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItemEntity.PersonalIdentificationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItemEntity.CollectionItemEntityID)
            </th>
            <th>
                @Localizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var image = @"/images/Thumbnail/" + item.CollectionItemPictureList.FirstOrDefault()?.CollectionItemPictureID + ".webp";
            <tr>
                <td>
                    <img src="@image" width="240" height="153" alt="@Localizer["PreViewOf", item.DisplayName]" id="simplePic_@count" class="IndexMobile-Picture" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionItemEntity.PersonalIdentificationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionItemEntity.CollectionItemEntityID)
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-entityId="@item.CollectionItemEntity.CollectionItemEntityID">@Localizer["Edit"]</a>
                        | <a asp-action="Delete" asp-route-entityId="@item.CollectionItemEntity.CollectionItemEntityID">@Localizer["Delete"]</a>
                        | <a asp-action="DownloadSubmit" asp-route-entityId="@item.CollectionItemEntity.CollectionItemEntityID" asp-route-userId="@ViewData["userId"]">@Localizer["CollectionItemEntity_Download_One"]</a>
                    </div>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
<form asp-controller="CollectionItemDatabase" asp-action="Index">
    <partial name="~/Views/CollectionItemDatabase/_SearchByColumn.cshtml" />
</form>