@model RegionOperationParameterModel
@using Sammlerplattform.Models.PlaceDatabase
@using Sammlerplattform.Models.PlaceDatabase.RegionDatabase
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = @Localizer["Region_Create"];
    Layout = "~/Views/Shared/_LayoutSettingsPlace.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="EditSubmit" asp-controller="RegionDatabase">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Place.PlaceID" type="hidden">
    <input asp-for="Place.ToponymyTypeInt" type="hidden">

    <div id="toponymyContainer" class="mb-3">
        @for (int i = 0; i < Model.PlaceNToponymyList.Count; i++)
        {
            <div class="input-group inputDivToponymy mb-2">
                <div class="form-group">
                    <label class="form-label">@Localizer["Toponymy"]</label>
                    <input class="form-control inputToponymy" asp-for="PlaceNToponymyList[@i].Toponymy.ToponymyName">
                </div>
                <div class="form-check">
                    <input class="form-check-input checkboxCurrentName" asp-for="PlaceNToponymyList[i].IsCurrentName" id="currentName_@i">
                    <label class="form-check-label ms-1" for="currentName_@i">@Localizer["IsCurrentName"]</label>
                </div>
                <button type="button" class="btn btn-danger removeToponmy">@Localizer["Remove"]</button>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary" onclick="addToponymy()">@Localizer["PlaceName_Add"]</button>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Toponymy"]</th>
                    <th scope="col">@Localizer["FurtherSpecs"]</th>
                    <th scope="col">@Localizer["Relationship"]</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="appendPlaceHere">
                @if (Model.Place.ParentPlace != null)
                {
                    var vm = PlaceViewModelHelper.FromDomainModel(Model.Place.ParentPlace);
                    <tr data-type="parent" class="placeTableRow">
                        <td>@Html.Raw(vm.Toponymy)</td>
                        <td>@Html.Raw(vm.FurtherSpecs)</td>
                        <td>@Localizer["ParentPlace"]</td>
                        <td>
                            <input type="hidden" asp-for="Place.ParentPlaceID">
                            <button type="button" class="btn btn-danger btn-sm removePlaceRow">@Localizer["Remove"]</button>
                        </td>
                    </tr>
                }
                @if (Model.ChildPlaceList.Count > 0)
                {
                    for (int i = 0; i < Model.ChildPlaceList.Count; i++)
                    {
                        var vm = PlaceViewModelHelper.FromDomainModel(Model.ChildPlaceList[i]);
                        <tr data-type="child" class="placeTableRow">
                            <td>@Html.Raw(vm.Toponymy)</td>
                            <td>@Html.Raw(vm.FurtherSpecs)</td>
                            <td>@Localizer["ChildPlace"]</td>
                            <td>
                                <input type="hidden" name="ChildPlaceList[@i].PlaceID" value="@Model.ChildPlaceList[i].PlaceID">
                                <button type="button" class="btn btn-danger btn-sm removePlaceRow">@Localizer["Remove"]</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#placeModal">
            @Localizer["Place_Add"]
        </button>
    </div>
    <button class="btn btn-primary">@Localizer["Edit"]</button>
</form>

<partial name="~/Views/PlaceDatabase/_ModalPlace.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}