@model PlaceDisplayDTO
@using Sammlerplattform.Models.PlaceDatabase
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["Place_Delete"];
    Layout = "~/Views/Shared/_LayoutSettingsDimensions.cshtml";

    var vm = PlaceViewModelHelper.FromDomainModel(Model);
}

<h1>@ViewData["Title"]</h1>
<h2>@Localizer["Delete_Confirm"]</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PlaceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceID)
        </dd>
        <dt class = "col-sm-4">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @vm.Toponymy
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FurtherSpecs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurtherSpecs)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.WikipediaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WikipediaUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="PlaceID" type="hidden" />
        <div class="mt-4 pt-3 border-top">
            <button type="submit" class="btn btn-danger btn-lg px-5">
                <i class="bi bi-check-circle"></i> @Localizer["Delete"]
            </button>
            <a asp-action="Index" class="btn btn-dark text-white ms-2">
                @Localizer["Cancel"]
            </a>
        </div>
    </form>
</div>
