@model StatePreservation
@using Microsoft.AspNetCore.Mvc.Localization
@using Sammlerplattform.Models.CollectionItemDatabase.StatePreservationDatabase
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["StatePreservation_Delete"];
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";

    string collAreaName = Model.CollectionArea != null ? Model.CollectionArea.CollectionAreaName : "";
}

<h3>@ViewData["Title"]</h3>

<h3>@Localizer["Delete_Confirm"]</h3>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.StatePreservationName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.StatePreservationName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CollectionArea)
    </dt>
    <dd class = "col-sm-10">
        @collAreaName
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.SortingOrder)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.SortingOrder)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.IsGeneralState)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.IsGeneralState)
    </dd>
</dl>
    
<form asp-action="Delete">
    <input type="hidden" asp-for="StatePreservationID" />
    <input type="hidden" asp-for="CollectionAreaID" />
    <button class="btn btn-danger">@Localizer["Delete"]</button> |
    <a asp-action="Index" asp-route-CollectionAreaID="@Model.CollectionAreaID">@Localizer["BackToList"]</a>
</form>