@model IEnumerable<StatePreservationDisplayDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@using Sammlerplattform.Models.CollectionItemDatabase.StatePreservationDatabase
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["StatePreservation_Administration"];
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h1>@ViewData["Title"] - @ViewData["CollectionAreaName"]</h1>
<p>@Localizer["Info_Delete_NotAllowed"]</p>
<hr />

<p>
    <a type="button" href="/StatePreservationDatabase/Create?collectionAreaID=@ViewData["CollectionAreaID"]" class="btn btn-success">@Localizer["Create"]</a>
</p>
<table class="table">
    <caption class="visually-hidden">@Localizer["StatePreservation"]</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortingOrder)
            </th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortingOrder)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                    @{
                        if (item.IsDeletable)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
