@model Sammlerplattform.Models.CollectionAreaDatabase.CollectionArea
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = @Localizer["ConceptRelation_Administration"];
    Layout = "~/Views/Shared/_LayoutSettingsConceptualRelationship.cshtml";
}

<h3>@Model.CollectionAreaName: @ViewData["Title"]</h3>
<p>@Localizer["Delete_NotAllowed"]</p>
<hr />
<a type="button" href="/ConceptualRelationshipDatabase/Create?collectionAreaID=@Model.CollectionAreaID" class="btn btn-success">@Localizer["Create"]</a>

<div class="container py-4 text-center">
    <div class="row gx-5">
        <div class="col-8">
            <div class="pe-3">
                <div id="network"></div>
                <input type="hidden" asp-for="CollectionAreaID">
            </div>
        </div>
        <div class="col-4">
            <div class="ps-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ConceptList[0].ConceptName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ConceptList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConceptName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    #network {
        width: 100%;
        height: 600px;
        border: 1px solid #ccc;
    }
</style>