@model IEnumerable<Sammlerplattform.Models.BrickDatabase.BrickOperationParameterModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Ziegelverwaltung";
    Layout = "_LayoutSettings";
    int count = 0;
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-success" asp-action="CreateBrick" asp-controller="BrickDatabase">Manuellen Eintrag erstellen</a>
    <button id="tooltip-SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
    <a type="button" class="btn btn-success" asp-action="DownloadBricks" asp-controller="BrickDatabase" asp-route-userId="@ViewData["userId"]">Alle Ziegel als YAML herunterladen</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Abbildung
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrickEntity.BrickEntity_ID)
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var image = @"/images/Thumbnail/" + item.ProductPicture.ProductPicture_ID + "." + item.ProductPicture.FileExtension;
            <tr>
                <td>
                    <img src="@image" width="240" height="153" alt="" id="simplePic_@count" class="IndexMobile-Picture" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrickEntity.BrickEntity_ID)
                </td>
                <td>
                    <div>
                        <a asp-action="EditBrick" asp-controller="BrickDatabase" asp-route-id="@item.BrickPotential.BrickPotential_ID">Ändern</a>
                        | <a asp-action="DeleteBrick" asp-controller="BrickDatabase" asp-route-potentialId="@item.BrickPotential.BrickPotential_ID" asp-route-entityId="@item.BrickEntity.BrickEntity_ID">Löschen</a>
                        | <a asp-action="DownloadBricks" asp-controller="BrickDatabase" asp-route-potentialId="@item.BrickPotential.BrickPotential_ID" asp-route-userId="@ViewData["userId"]">Herunterladen als YAML</a>
                    </div>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

<div id="mySidebar" class="zIndex_5 sidenav-search box-shadow">
    <partial name="_SearchByColumn.cshtml" />
</div>
