@using Sammlerplattform.Models.ManufactoryDatabase
@using Sammlerplattform.Services
@model Sammlerplattform.Models.BrickDatabase.BrickOperationParameterModel
@using Sammlerplattform.Models.BrickDatabase;
@using System.Text.Json

@{
    ViewData["Title"] = "Postkarte erstellen";
    Layout = "~/Views/Shared/_LayoutSettingsProduct.cshtml";

    var manufactoryListJson = JsonSerializer.Serialize(ViewData["ManufactoryList"]);
}

<h4>@ViewData["Title"]</h4>
<hr />

<form asp-action="CreateBrickSubmit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p>Wenn möglich, dann sollten die Bilder im png-Format sein.</p>
    <p>Alle Bilder werden automatisch mit einem Wasserzeichen versehen, das Ihrem Nutzernamen entspricht.</p>
    <div id="appendInputFormFile">
        <div class="mb-3" id="inputGroupFormFile_0">
            <label asp-for="ProductPictureList[0].PerspectiveInt" class="form-label">Vorderseite</label>
            <input type="file" name="ProductPictureList[0].Datei" class="form-control" required>
            <input type="hidden" asp-for="ProductPictureList[0].PerspectiveInt" value="0">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="addInputFormFile('Create')">Mehr Bilder hinzufügen</button>
    <div class="accordion pt-2" id="accordionBrick">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingBrick">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrick" aria-expanded="false" aria-controls="collapseBrick">
                    Ziegel
                </button>
            </h2>
            <div id="collapseBrick" class="accordion-collapse collapse show" aria-labelledby="headingBrick" data-bs-parent="#accordionBrick">
                <div class="accordion-body">
                    <div class="form-group">
                        <label asp-for="BrickEntity.UniqueName" class="control-label"></label>
                        <input asp-for="BrickEntity.UniqueName" class="form-control" />
                        <span asp-validation-for="BrickEntity.UniqueName" class="text-danger"></span>
                    </div>
                    <input type="hidden" name="BrickEntity.BrickPotentialID" id="bricknameBrickPotentialID_Input">
                    <table class="table" id="bricknameTable">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(x => x.BrickPotential.BrickPotentialID)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Brickname.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.BrickPotential.UsageEnum)</th>
                                <th scope="col">Weitere Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col" id="bricknameBrickPotentialID" name="BrickPotential.BrickPotentialID"></td>
                                <td scope="col" id="bricknameName"></td>
                                <td scope="col" id="bricknameUsageEnum"></td>
                                <td scope="col">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsBricknameExistingModal">
                                            Ziegelname auswählen
                                        </button>
                                        <button type="button" id="clearOneRowBricknameTable" class="btn btn-outline-danger" style="display: none">Entfernen</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BrickEntity.Fake"> @Html.DisplayNameFor(model => model.BrickEntity.Fake)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.ConditionID" class="control-label"></label>
                        <select asp-for="BrickEntity.ConditionID" class="form-select">
                            @foreach (var condition in Model.ConditionList)
                            {
                                <option value="@condition.ConditionID" selected>@condition.ConditionName</option>
                                
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.Inscription" class="control-label"></label>
                        <input asp-for="BrickEntity.Inscription" class="form-control" />
                        <span asp-validation-for="BrickEntity.Inscription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KeywordList" class="control-label"></label>
                        <select asp-for="ProductNKeywordList" class="chosen-select" id="keywordSelect" multiple style="width: 350px;">
                        </select>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="BrickEntity.Comment" class="control-label"></label>
                        <textarea asp-for="BrickEntity.Comment" class="form-control"  rows="10" cols="5"></textarea>
                        <span asp-validation-for="BrickEntity.Comment" class="text-danger"></span>
                    </div>
                    <hr />
                    @Html.DisplayNameFor(Model => Model.ColorList)
                    <div id="colorContainer"></div>
                    <button type="button" class="btn btn-primary" onclick="addColor()">Mehr Farben hinzufügen</button>
                    <hr />
                    @Html.DisplayNameFor(Model => Model.MaterialList)
                    <div id="materialContainer"></div>
                    <button type="button" class="btn btn-primary" onclick="addMaterial()">Mehr Materialien hinzufügen</button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSize">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSize" aria-expanded="false" aria-controls="collapseSize">
                    Maße in cm
                </button>
            </h2>
            <div id="collapseSize" class="accordion-collapse collapse" aria-labelledby="headingSize" data-bs-parent="#accordionSize">
                <div class="accordion-body">
                    <div class="form-group">
                        <label asp-for="BrickEntity.Length" class="control-label"></label>
                        <input asp-for="BrickEntity.Length" class="form-control">
                        <span asp-validation-for="BrickEntity.Length" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.Width" class="control-label"></label>
                        <input asp-for="BrickEntity.Width" class="form-control">
                        <span asp-validation-for="BrickEntity.Width" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.Height" class="control-label"></label>
                        <input asp-for="BrickEntity.Height" class="form-control">
                        <span asp-validation-for="BrickEntity.Height" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.Diameter" class="control-label"></label>
                        <input asp-for="BrickEntity.Diameter" class="form-control">
                        <span asp-validation-for="BrickEntity.Diameter" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingManufacturingDate">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseManufacturingDate" aria-expanded="false" aria-controls="collapseManufacturingDate">
                    Herstellungszeit
                </button>
            </h2>
            <div id="collapseManufacturingDate" class="accordion-collapse collapse" aria-labelledby="headingManufacturingDate" data-bs-parent="#accordionManufacturingDate">
                <div class="accordion-body">
                    <div class="form-group">
                        <label asp-for="BrickEntity.ExactYear"></label>
                        <input asp-for="BrickEntity.ExactYear" class="form-control">
                        <span asp-validation-for="BrickEntity.ExactYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.StartYear"></label>
                        <input asp-for="BrickEntity.StartYear" class="form-control">
                        <span asp-validation-for="BrickEntity.StartYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.EndYear"></label>
                        <input asp-for="BrickEntity.EndYear" class="form-control">
                        <span asp-validation-for="BrickEntity.EndYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" asp-for="BrickEntity.IsApproximate"> @Html.DisplayNameFor(model => model.BrickEntity.IsApproximate)
                    </div>
                    <input type="hidden" name="BrickEntity.EraId" id="eraID_Input">
                    <table class="table" id="eraTable">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(x => x.Era.EraID)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Era.EraName)</th>
                                <th scope="col">Weitere Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col" id="eraID_Table"></td>
                                <td scope="col" id="eraName"></td>
                                <td scope="col">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EraModal">
                                            Ära auswählen
                                        </button>
                                        <button type="button" id="clearOneRowEraTable" class="btn btn-outline-danger" style="display: none">Entfernen</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingManufactory">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseManufactory" aria-expanded="false" aria-controls="collapseManufactory">
                    Hersteller
                </button>
            </h2>
            <div id="collapseManufactory" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionManufacutrer">
                <div class="accordion-body">
                    <input id="productionFacilityInput" hidden value="Ziegelei">
                    <div id="manufactoryContainer" class="appendManufactoryHere"></div>
                    <button type="button" class="btn btn-primary" onclick="addManufactory()">Mehr Hersteller hinzufügen</button>                
                    <hr>
                    <input type="hidden" id="processOfManufactureProcessOfManufactureID_Input" name="BrickEntity.ProcessOfManufactureID">
                    <table class="table" id="processOfManufactureTable">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(x => x.BrickEntity.ProcessOfManufactureID)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.ProcessOfManufacture.Mainprocess)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.ProcessOfManufacture.ProcessOfManufactureName)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.ProcessOfManufacture.Technique)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.ProcessOfManufacture.Description)</th>
                                <th scope="col">Weitere Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col" id="processOfManufactureProcessOfManufactureID"></td>
                                <td scope="col" id="processOfManufactureMainprocess"></td>
                                <td scope="col" id="processOfManufactureProcessOfManufactureName"></td>
                                <td scope="col" id="processOfManufactureTechnique"></td>
                                <td scope="col" id="processOfManufactureDescription"></td>
                                <td scope="col">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#processOfManufactureModal">
                                            Herstellungsprozess auswählen
                                        </button>
                                        <button type="button" id="clearOneRowProcessOfManufactureTableButton" onclick="clearOneRowProcessOfManufactureTable()" class="btn btn-outline-danger" style="display: none">Entfernen</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEngraving">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePerson" aria-expanded="false" aria-controls="collapsePerson">
                    Personen
                </button>
            </h2>
            <div id="collapsePerson" class="accordion-collapse collapse" aria-labelledby="headingEngraving" data-bs-parent="#accordionEngraving">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(x => x.Person.PersonID)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Person.Name)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Person.Signature)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.Person.Pseudonym)</th>
                                <th scope="col">@Html.DisplayNameFor(x => x.BrickEntityNPersonList[0].Relationship)</th>
                                <th scope="col">Weitere Aktionen</th>
                            </tr>
                        </thead>
                        <tbody id="personResultTableBody">
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsPersonExistingModal">
                        Person mit Bezug zum Objekt hinzufügen
                    </button>                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCitys" aria-expanded="false" aria-controls="collapseCitys">
                    Orte
                </button>
            </h2>
            <div id="collapseCitys" class="accordion-collapse collapse" data-bs-parent="#accordionBrick">
                <div class="accordion-body">
                    <table class="table" id="cityTable">
                        <thead>
                            <tr>
                                <th scope="col">Orts_ID</th>
                                <th scope="col">Ort</th>
                                <th scope="col">PLZ</th>
                                <th scope="col">Beiname</th>
                                <th scope="col">Geographischer Bezug</th>
                                <th scope="col">Bezug</th>
                                <th scope="col">Weitere Aktionen</th>
                            </tr>
                        </thead>
                        <tbody id="cityResultTableBody">
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsCityExistingModal">
                        Ort hinzufügen
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAdministration">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdministration" aria-expanded="false" aria-controls="collapseAdministration">
                    Verwaltung
                </button>
            </h2>
            <div id="collapseAdministration" class="accordion-collapse collapse" aria-labelledby="headingAdministration" data-bs-parent="#accordionAdministration">
                <div class="accordion-body">
                    <div class="form-group">
                        <label asp-for="BrickEntity.FilingLocation"></label>
                        <input asp-for="BrickEntity.FilingLocation" class="form-control">
                        <span asp-validation-for="BrickEntity.FilingLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.DeliveryPrice"></label>
                        <input asp-for="BrickEntity.DeliveryPrice" class="form-control">
                        <span asp-validation-for="BrickEntity.DeliveryPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrickEntity.TransferFromOwner"></label>
                        <input asp-for="BrickEntity.TransferFromOwner" class="form-control" />
                        <span asp-validation-for="BrickEntity.TransferFromOwner" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-2">Erstellen</button>
</form>

<partial name="_Modals.cshtml" />