@model Sammlerplattform.Models.CollectionItemDatabase.StateDatabase.State

@{
    ViewData["Title"] = "Zustand löschen";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";

    string collAreaName = Model.CollectionArea != null ? Model.CollectionArea.CollectionAreaName : "Keine Zuordnung";
}

<h1>@ViewData["Title"]</h1>

<h3>Sind Sie sicher, dass Sie es löschen wollen?</h3>
<div>
    <h4>State</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionArea)
        </dt>
        <dd class = "col-sm-10">
            @collAreaName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortingOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortingOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGeneralState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGeneralState)
        </dd>
    </dl>
    
    <form asp-action="DeleteSubmit">
        <input type="hidden" asp-for="StateID" />
        <input type="hidden" asp-for="CollectionAreaID" />
        <button class="btn btn-danger">Löschen</button> |
        <a asp-action="Index" asp-route-CollectionAreaID="@Model.CollectionAreaID">Zurück zur Liste</a>
    </form>
</div>
