@model IEnumerable<Sammlerplattform.Models.CollectionItemDatabase.StateDatabase.State>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a type="button" class="btn btn-success" asp-action="Create" asp-route-collectionAreaID="@ViewData["CollectionAreaID"]">Neu erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortingOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGeneralState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortingOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsGeneralState)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-stateID="@item.StateID">Edit</a> |
                    <a asp-action="Delete" asp-route-stateID="@item.StateID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
