@model IEnumerable<Sammlerplattform.Models.BrickDatabase.BrickOperationParameterModel>
@{
    int count = 0;
    int? currentRows = ViewData["currentRows"] as int?;
    int? maxRows = ViewData["maxRows"] as int?;
    int? lastAmountRows = ViewData["lastAmountRows"] as int?;
}

<div class="container ">
    @foreach (var item in Model)
    {
        <div class="row align-items-start pt-3" id="row_@count">
            @{
                <div class="col me-1" id="indexSimplePicColumn_@count">                    
                    @for(int i = 0; i < item.ProductPictureList.Count; i++)
                    {
                        int index = i + 1;
                        string imageNormal = $"/images/Klein/{item.ProductPictureList[i].ProductPictureID}.png";
                        string imageKlein = $"/images/Klein/{item.ProductPictureList[i].ProductPictureID}.png";
                        @if(i == 0)
                        {
                            <a class="photo" data-fancybox="gallery_@item.ProductPictureList[@i].ProductPictureID" href="@imageNormal" data-caption="Nummer @item.ProductPictureList[@i].ProductPictureID">
                            <img src="@imageKlein" width="498" height="322" alt="" id="simplePic_@count" class="indexMobile-Picture">
                        </a>
                        }
                        else
                        {
                            <a class="photo" data-fancybox="gallery_@item.ProductPictureList[@index].ProductPictureID" href="@imageNormal" data-caption="Nummer @item.ProductPictureList[@index].ProductPictureID"></a>
                        }
                    }
                </div>
                <div class="col col-2" id="IndexSimpleCloseColumn_@count" style="display:none">
                    <button class="btn btn-primary indexSimpleButtons IndexSimpleCloseButtons" id="IndexSimpleCloseButton_@count">Bild</button>
                </div>
                <div class="col indexSimple2ndColumns" id="IndexSimple2ndColumn_@count">
                    <ul>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.Brickname.Name): @Html.DisplayFor(modelItem => item.Brickname.Name)
                        </li>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.BrickEntity.Zeit): @Html.DisplayFor(modelItem => item.BrickEntity.Zeit)
                        </li>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.ManufactoryNCityList):
                            <ul>
                                @foreach (var manufactory in item.ManufactoryNCityList)
                                {
                                    <li>@manufactory.ManufactoryName @manufactory.City</li>
                                }
                            </ul>
                        </li>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.ProcessOfManufacture): @Html.DisplayFor(modelItem => item.ProcessOfManufacture.ProcessOfManufactureName) @Html.DisplayFor(modelItem => item.ProcessOfManufacture.Technique)
                        </li>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.BrickEntityNPersonList):
                            <ul>
                                @foreach(var person in item.BrickEntityNPersonList)
                                {
                                    <li>@person.Person?.Name @person.Relationship</li>
                                }
                            </ul>
                        </li>
                        <li>
                            @Html.DisplayNameFor(modelItem => item.BrickEntityNCityList):
                            <ul>
                                @foreach(var city in item.BrickEntityNCityList)
                                {
                                    string? oeconym = city.City?.CityOeconymList.Where(x => x.CurrentName).Select(x => x.Oeconym.OeconymName).FirstOrDefault();
                                    string postalcode = string.Empty;
                                    if (city.City?.CityPostalcodeList != null)
                                    {
                                        foreach (var postalcode1 in city.City.CityPostalcodeList)
                                        {
                                            postalcode += postalcode1.Postalcode.PostalcodeNumber + ", ";
                                        }
                                    }
                                    <li>@postalcode @oeconym</li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="IndexSimpleOpenColumn_@count" class="col col-2 IndexSimpleOpenColumn">
                    <button class="btn btn-primary indexSimpleButtons IndexSimpleOpenButtons" id="IndexSimpleOpenButtons_@count">Daten</button>
                </div>
                count++;
            }
        </div>
    }

    @if (count == 0)
    {
        <h4>Es wurde leider nichts gefunden.</h4>
        <h4>Bitte versuche es mit einem anderen Begriff.</h4>
    }
    @if (currentRows is not null && currentRows < maxRows)
    {
        <form asp-controller="Sammlung" asp-action="Kurzansicht">
            <input id="indexSimpleMaxRows" value="@maxRows" style="display: none">
            <input id="indexSimpleCurrentRows" name="currentRows" value="@currentRows" style="display: none">
            <input id="indexSimpleLastRows" value="@lastAmountRows" style="display: none">
            <div class="d-grid gap-2 mt-4 mb-4">
                <div class="transmitData" hidden></div>
                <button id="btnIndexSimpleMore" class="btn btn-primary" onclick="getMoreData()">Mehr Bilder anzeigen</button>
            </div>
        </form>
    }
</div>