@model IEnumerable<CityOperationParameterModel>
@using Microsoft.AspNetCore.Authorization
@using Sammlerplattform.Models.CityDatabase
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Ortsverwaltung";
    Layout = "_LayoutSettings";
    int count = 0;
}

<h3>@ViewData["Title"]</h3>
<p>Jeder Ort kann hier in seinem Detail vertieft werden. Jedoch können Orte erst noch Rücksprache mit dem Administrator gelöscht werden, da eine Löschung negative Auswirkungen auf viele Sammlerstücke haben kann.</p>
<hr />

<div class="btn-group" role="group" aria-label="">
    <a type="button" class="btn btn-success CreateCityButton" asp-action="CreateCity" asp-controller="CityDatabase">Eintrag erstellen</a>
    <button id="tooltip-SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postalcode.PostalcodeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oeconym.OeconymName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Byname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geography.GeographyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.ParentCityID)
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                string postalcodeCollection = string.Empty;
                string oeconymCollection = string.Empty;
                @foreach (var postalcode in item.City.PostalcodeList)
                {
                    postalcodeCollection += postalcode.PostalcodeNumber + ", ";
                }
                foreach(var cno in item.City.CityNOeconymList)
                {
                    if(cno.CurrentName)
                    {
                        oeconymCollection += $"<strong>{cno.Oeconym.OeconymName}</strong>, ";
                    }
                    else
                    {
                        oeconymCollection += cno.Oeconym.OeconymName + ", ";
                    }
                }
                
                <tr>
                    <td>
                        @postalcodeCollection
                    </td>
                    <td id="oeconym_@count">
                        @Html.Raw(oeconymCollection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Byname)
                    </td>
                    <td>
                        @if (item.City.Geography != null) {
                            @Html.DisplayFor(modelItem => item.City.Geography.GeographyName)
                        }
                    </td>
                    <td>
                        @if (item.City.ParentCity != null)
                        {
                            var cnoParent = item.City.ParentCity.CityNOeconymList;
                            var oeconymParent = cnoParent.Where(x => x.CurrentName).Select(x => x.Oeconym.OeconymName).FirstOrDefault();
                            @oeconymParent
                        }
                    </td>
                    <td>
                        <div>
                            <a class="EditCityButton" asp-action="EditCity" asp-controller="CityDatabase" asp-route-id="@item.City.CityID">Ändern</a>
                        </div>
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>

<div id="mySidebar" class="zIndex_5 sidenav-search box-shadow">
    <partial name="_SearchByColumn.cshtml" />
</div>