@model CityOperationParameterModel
@using Sammlerplattform.Models.CityDatabase

@{
    ViewData["Title"] = "Ort ändern";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";

}

<h1>@ViewData["Title"]</h1>
<p>Bei jedem Ort muss zwingend eine PLZ hinzugefügt werden. Es können mehr als ein Ortsname angegeben werden.</p>

<hr />
<form asp-action="EditCitySubmit" asp-controller="CityDatabase">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="City.City_ID" type="hidden" />
    <div id="appendConcludedLists"></div>
    <input type="hidden" class="postalcodeNumberList" name="PostalcodeNumberList" />
    <div class="input-group pb-1 postalcodeOriginalCreateCity">
        <button class="btn btn-danger removePostalcodeCreateCity" id="1" style="display: none" type="button">-</button>
        <div class="form-floating">
            @if (Model.PostalcodeNumberList.Count > 0)
            {
                <input asp-for="Postalcode.PostalcodeNumber" class="form-control InputPostalcodeNumber" id="InputPostalcodeNumber_1" value="@Model.PostalcodeNumberList[0]" />
            }
            else
            {
                <input asp-for="Postalcode.PostalcodeNumber" class="form-control InputPostalcodeNumber" id="InputPostalcodeNumber_1" />
            }
            <label asp-for="Postalcode.PostalcodeNumber" class="form-label"></label>
            <span asp-validation-for="Postalcode.PostalcodeNumber" class="text-danger"></span>
        </div>
        <button type="button" class="btn btn-success addPostalcodeCreateCity">+</button>
    </div>
    <div class="appendPostalcodeCreateCity">
        @if (Model.PostalcodeNumberList.Count > 1)
        {
            @for (var idx = 1; idx < Model.PostalcodeNumberList.Count; idx++)
            {
                int id = idx + 1;
                <div class="input-group pb-1 DivPostalcode" id="DivPostalcode_@id">
                    <button class="btn btn-danger removePostalcodeCreateCity" id="@id" type="button">-</button>
                    <div class="form-floating">
                        <input asp-for="Postalcode.PostalcodeNumber" class="form-control InputPostalcodeNumber" id="InputPostalcodeNumber_@id" value="@Model.PostalcodeNumberList[idx]" />
                        <label asp-for="Postalcode.PostalcodeNumber" class="form-label"></label>
                        <span asp-validation-for="Postalcode.PostalcodeNumber" class="text-danger"></span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="input-group pb-1 oeconymOriginalCreateCity">
        <button class="btn btn-danger removeOeconymCreateCity" id="1" style="display: none" type="button">-</button>
        <div class="form-floating">
            @if(Model.OeconymList.Count > 0)
            {
                var oeconymName = Model.OeconymList[0].Split("§§")[0];
                <input asp-for="Oeconym.OeconymName" class="form-control InputOeconymName" id="InputOeconymName_1" value="@oeconymName"/>
            }
            else
            {
                <input asp-for="Oeconym.OeconymName" class="form-control InputOeconymName" id="InputOeconymName_1" />
            }
            <label asp-for="Oeconym.OeconymName" class="form-label"></label>
            <span asp-validation-for="Oeconym.OeconymName" class="text-danger"></span>
        </div>
        <div class="form-group form-check pe-5 ps-5">
            <label class="form-check-label">
            @if(Model.OeconymList.Count > 0)
            {
                var currentName = Model.OeconymList[0].Split("§§")[1];
                    if(currentName == "True")
                    {
                        <input class="form-check-input InputCurrentName" asp-for="CityNOeconym.CurrentName" id="InputCurrentName_1" checked/> @Html.DisplayNameFor(model => model.CityNOeconym.CurrentName)
                    }
                    else
                    {
                        <input class="form-check-input InputCurrentName" asp-for="CityNOeconym.CurrentName" id="InputCurrentName_1" /> @Html.DisplayNameFor(model => model.CityNOeconym.CurrentName)
                    }
                }
            else
            {
                <input class="form-check-input InputCurrentName" asp-for="CityNOeconym.CurrentName" id="InputCurrentName_1" /> @Html.DisplayNameFor(model => model.CityNOeconym.CurrentName)
            }
            </label>
        </div>
        <button id="cityModalButton" type="button" class="btn btn-success addOeconymCreateCity">+</button>
    </div>
    <div class="appendOeconymCreateCity">
        @if(Model.OeconymList.Count > 1){
            @for(int idx = 1; idx < Model.OeconymList.Count; idx++)
            {
                int id = idx + 1;
                <div class="input-group pb-1 DivOeconym" id="DivOeconym_@id">
                    <button class="btn btn-danger removeOeconymCreateCity" id="@id" type="button">-</button>
                    <div class="form-floating">
                        @if (Model.OeconymList.Count > 0)
                        {
                            var oeconymName = Model.OeconymList[idx].Split("§§")[0];
                            <input asp-for="Oeconym.OeconymName" class="form-control InputOeconymName" id="InputOeconymName_@id" value="@oeconymName" />
                        }
                        <label asp-for="Oeconym.OeconymName" class="form-label"></label>
                        <span asp-validation-for="Oeconym.OeconymName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check pe-5 ps-5">
                        <label class="form-check-label">
                        @if (Model.OeconymList.Count > 0)
                        {
                            var currentName = Model.OeconymList[idx].Split("§§")[1];
                            if(currentName == "True")
                            {
                                <input class="form-check-input InputCurrentName" asp-for="CityNOeconym.CurrentName" id="InputCurrentName_1" checked/> @Html.DisplayNameFor(model => model.CityNOeconym.CurrentName)
                            }
                            else
                            {
                                <input class="form-check-input InputCurrentName" asp-for="CityNOeconym.CurrentName" id="InputCurrentName_1" /> @Html.DisplayNameFor(model => model.CityNOeconym.CurrentName)
                            }
                        }
                        </label>
                    </div>
                </div>
            } 
        }
    </div>
    <div class="form-floating pb-1">
        <input asp-for="City.Byname" class="form-control" aria-label="Beiname"
               data-bs-toggle="tooltip-byname" data-bs-placement="top"
               data-bs-custom-class="byname-tooltip"
               data-bs-title="Betrifft z.B. 'Universitätsstadt' oder 'Elbflorenz'" />
        <label asp-for="City.Byname" class="control-label"></label>
        <span asp-validation-for="City.Byname" class="text-danger"></span>
    </div>
    <div class="form-floating pb-1">
        @if(Model.City.Geography != null){
            <input asp-for="Geography.GeographyName" class="form-control InputGeographyName" aria-label="Geographie Zuordnung"
               data-bs-toggle="tooltip-geography" data-bs-placement="top"
               data-bs-custom-class="geography-tooltip"
            data-bs-title="Betrifft z.B. 'Elbe' oder 'Weinstraße'"  value="@Model.City.Geography.GeographyName"/>
        }
        else
        {
            <input asp-for="Geography.GeographyName" class="form-control InputGeographyName" aria-label="Geographie Zuordnung"
                   data-bs-toggle="tooltip-geography" data-bs-placement="top"
                   data-bs-custom-class="geography-tooltip"
                   data-bs-title="Betrifft z.B. 'Elbe' oder 'Weinstraße'" />
        }
        <label asp-for="Geography.GeographyName" class="control-label"></label>
        <span asp-validation-for="Geography.GeographyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <label asp-for="City.ParentCity_ID" class="control-label"></label>
            <input asp-for="City.ParentCity_ID" id="parentCityInput" type="hidden" />
            <table class="table" id="cityTable">
                <thead>
                    <tr>
                        <th scope="col">Orts_ID</th>
                        <th scope="col">Ort</th>
                        <th scope="col">PLZ</th>
                        <th scope="col">Beiname</th>
                        <th scope="col">Geographischer Bezug</th>
                        <th scope="col">Weitere Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (Model.City.ParentCity != null)
                        {
                            string postalcodeCollection = string.Empty;
                            @foreach (var postalcode in Model.City.PostalcodeICollection)
                            {
                                postalcodeCollection += postalcode.PostalcodeNumber + ", ";
                            }
                            var cnoParent = Model.City.ParentCity.CityNOeconymICollection;
                            var oeconymParent = cnoParent.Where(x => x.CurrentName).Select(x => x.Oeconym.OeconymName).FirstOrDefault();

                            <td scope="col" id="city_ID">@Model.City.ParentCity.City_ID</td>
                            <td scope="col" id="city">@oeconymParent</td>
                            <td scope="col" id="postalcode">@postalcodeCollection</td>
                            <td scope="col" id="byname">@Model.City.ParentCity.Byname</td>
                            @if (Model.City.ParentCity.Geography != null)
                            {
                                <td scope="col" id="geography">@Model.City.ParentCity.Geography.GeographyName</td>
                            } else
                            {
                                <td scope="col" id="geography"></td>
                            }
                        } 
                        else
                        {
                            <td scope="col" id="city_ID"></td>
                            <td scope="col" id="city"></td>
                            <td scope="col" id="postalcode"></td>
                            <td scope="col" id="byname"></td>
                            <td scope="col" id="geography"></td>
                        }
                        <td scope="col">
                            <div class="btn-group" role="group">
                                @if (Model.City.ParentCity != null)
                                {
                                    <button itemid="cityModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsCityExistingModal" style="display: none">
                                        Ort auswählen
                                    </button>
                                    <button type="button" id="clearOneRowCityTable" class="btn btn-outline-danger">Entfernen</button>
                                }
                                else
                                {
                                    <button id="cityModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsCityExistingModal">
                                        Ort auswählen
                                    </button>
                                    <button type="button" id="clearOneRowCityTable" class="btn btn-outline-danger" style="display: none">Entfernen</button>
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input id="submit-button" type="submit" value="Ändern" class="pt-2 btn btn-primary createCitySubmitButton" />
</form>

<partial name="~/Views/CityDatabase/_SearchForCity.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    // Initialize all tooltips
    setTimeout(function () {
        var tooltips = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip-byname"]'));
        var tooltipList = tooltips.map(function (tooltipEl) {
            return new bootstrap.Tooltip(tooltipEl);
        });
        var tooltips = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip-geography"]'));
        var tooltipList = tooltips.map(function (tooltipEl) {
            return new bootstrap.Tooltip(tooltipEl);
        });
    }, 500);
</script>