@model IEnumerable<Sammlerplattform.Models.CollectionAreaDatabase.CollectionArea>

@{
    ViewData["Title"] = "Sammlungsgebietsaufbau";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="btn-group" role="group" aria-label="">
    <a type="button" class="btn btn-success" asp-action="Create">Eintrag erstellen</a>
    <button id="tooltip-SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionAreaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionAreaName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CollectionAreaID">Name ändern</a> |
                    <a asp-action="Index" asp-controller="CollectionAttributeDatabase" asp-route-CollectionAreaID="@item.CollectionAreaID">Zusätzliche Merkmale anschauen/ändern</a> |
                    <a asp-action="Index" asp-controller="StateDatabase" asp-route-CollectionAreaID="@item.CollectionAreaID">Zustände anschauen/ändern</a> |
                    <a asp-action="Index" asp-controller="ConceptualRelationshipDatabase" asp-route-CollectionAreaID="@item.CollectionAreaID">Begriffsbeziehung anschauen/ändern</a>
                </td>
            </tr>
        }
    </tbody>
</table>
