@model Sammlerplattform.Models.UserSettings.UsingIdentityUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
    Layout = "_LayoutSettings";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="ProfileChange">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="DisplayName" class="form-label"></label>
        <input asp-for="DisplayName" class="form-control">
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-3">@Localizer["Edit"]</button>
</form>

<hr />
<div class="mb-3">
    <p>
        @Localizer["PersonalData_Notification"]
    </p>
    <a asp-action="DownloadPersonalData" class="btn btn-primary">@Localizer["PersonalData_Download"]</a>
</div>
<hr />
<div class="mb-5">
    <a asp-action="DeletePersonalData" class="btn btn-danger">@Localizer["Account_Delete"]</a>
</div>

@* <hr />
<h5>Abonnements</h5>
<p>Wählen Sie hier ihr Abonnement aus. Dies ermöglicht Ihnen den Speicherplatz oder/und das Analysetool zu nutzen.</p>
<a class="btn btn-primary" asp-controller="Payment" asp-action="Checkout" asp-route-email="@Model.UsingIdentityUsers.Email">Abonnements verwalten</a>
<p>Ihre derzeitige Beitragshöhe, falls Sie außerhalb der Probezeit sind. <h5>@ViewData["currentFee"]€</h5></p> *@