@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

<div class="modal fade" id="EraModal" tabindex="-1" aria-labelledby="EraModalLabel" aria-hidden="true" role="dialog" aria-modal="true" aria-describedby="EraModalDescription">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EraModalLabel">@Localizer["Era_Select"]</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
            </div>
            <div class="modal-body ui-front">
                <p id="EraModalDescription">@Localizer["Era_Select_Description"]</p>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputEraNameSearch" placeholder="@Localizer["Era"]" aria-label="@Localizer["Era"]" />
                            <button class="btn btn-primary eraSearchSubmit" type="button">@Localizer["Search"]</button>
                        </div>
                    </div>
                </div>
                <table class="table" id="eraSearchResultTable">
                    <caption class="visually-hidden">@Localizer["Era_SearchResults"]</caption>
                    <thead>
                        <tr>
                            <th scope="col">@Localizer["EraID"]</th>
                            <th scope="col">@Localizer["EraName"]</th>
                            <th scope="col">@Localizer["Actions"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
