@model IEnumerable<Place>
@using Sammlerplattform.Models.PlaceDatabase;
@{
    ViewData["Title"] = "Transportroutenverwaltung";
    Layout = "~/Views/Shared/_LayoutSettingsPlace.cshtml";
}

<h3>@ViewData["Title"]</h3>
<p>Jeder Ort kann hier in seinem Detail vertieft werden. Jedoch können Orte erst noch Rücksprache mit dem Administrator gelöscht werden, da eine Löschung negative Auswirkungen auf viele Sammlerstücke haben kann.</p>
<hr />

<div class="btn-group" role="group" aria-label="">
    <a type="button" class="btn btn-success" asp-action="Create" asp-controller="TransportRouteDatabase">Eintrag erstellen</a>
    <button id="tooltip-SucheOpen" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceNToponymyList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildPlaceList)
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vm = PlaceViewModelHelper.FromDomainModel(item);
            <tr>
                <td>@Html.Raw(@vm.Toponymy)</td>
                <td>@vm.ParentPlaceName</td>
                <td>@vm.ChildPlaces</td>
                <td>
                    <a asp-action="Edit" asp-controller="TransportRouteDatabase" asp-route-id="@vm.PlaceID">Ändern</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="TransportRouteDatabase" asp-action="Index">
    <partial name="~/Views/PlaceDatabase/_SearchByColumn.cshtml" />
</form>