@model IEnumerable<ParticipantDisplayDTO>
@using Sammlerplattform.Models.ParticipantDatabase
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["Organization_Administration"];
    Layout = "~/Views/Shared/_LayoutSettingsDimensions.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>@Localizer["Info_Delete_NotAllowed"]</p>
<hr />

<fieldeset class="btn-group">
    <a type="button" href="/OrganizationDatabase/Create" class="btn btn-success">@Localizer["Create"]</a>
    <button id="openSidebarButton" class="btn btn-info" data-toggle="tooltip" data-placement="under" title="Öffne Suchleiste" type="button" onclick="openNav()"><i class="bi bi-search"></i></button>
</fieldeset>

<table class="table">
    <caption class="visually-hidden">@Localizer["Organization"]</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectedPlaceList)
            </th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vm = ParticipantViewModelHelper.FromDomainModel(item);
            <tr>
                <td>@Html.Raw(vm.Name)</td>
                <td>@Html.Raw(vm.Industry)</td>
                <td>@Html.Raw(vm.Places)</td>
                <td>
                    <a asp-action="Edit" asp-controller="OrganizationDatabase" asp-route-id="@item.ParticipantID">@Localizer["Edit"]</a> |
                    @if (vm.IsDeletable)
                    {
                        <a asp-action="Delete" asp-controller="OrganizationDatabase" asp-route-id="@item.ParticipantID">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="OrganizationDatabase" asp-action="Index">
    <partial name="~/Views/ParticipantDatabase/_SearchByColumn.cshtml" />
</form>
