@model SettlementOperationParameterModel
@using Sammlerplattform.Models.PlaceDatabase
@using Sammlerplattform.Models.PlaceDatabase.SettlementDatabase
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = @Localizer["Settlement_Edit"];
    Layout = "~/Views/Shared/_LayoutSettingsPlace.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="EditSubmit" asp-controller="SettlementDatabase">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Place.PlaceID" type="hidden">
    <input asp-for="Place.ToponymyTypeInt" type="hidden">
    <div id="postalcodeContainer" class="mb-3">
        @for(int i = 0; i< Model.SettlementNPostalcodeList.Count; i++)
        {
            <div class="input-group inputDivPostalcode mb-2">
                <div class="form-group">
                    <label class="form-label">@Localizer["Postalcode"]</label>
                    <input class="form-control inputPostalcode" asp-for="SettlementNPostalcodeList[@i].Postalcode.PostalcodeNumber">
                </div>
                <div class="form-check">
                    <input class="form-check-input checkboxCurrentName" asp-for="SettlementNPostalcodeList[@i].IsCurrentPostalcode" id="currentPostalcode_@i">
                    <label class="form-check-label ms-1" for="currentPostalcode_@i">@Localizer["IsCurrentPostalcode"]</label>
                </div>
                <button type="button" class="btn btn-danger removePostalcode">@Localizer["Remove"]</button>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary" onclick="addPostalcode()">@Localizer["Postalcode_Add"]</button>
    <hr />
    <div id="toponymyContainer" class="mb-3">
        @for(int i = 0; i < Model.PlaceNToponymyList.Count; i++)
        {
            <div class="input-group inputDivToponymy mb-2">
                <div class="form-group">
                    <label class="form-label">@Localizer["Toponymy"]</label>
                    <input class="form-control inputToponymy" asp-for="PlaceNToponymyList[@i].Toponymy.ToponymyName">
                </div>
                <div class="form-check">
                    <input class="form-check-input checkboxCurrentName" asp-for="PlaceNToponymyList[i].IsCurrentName" id="currentName_@i">
                    <label class="form-check-label ms-1" for="currentName_@i">@Localizer["IsCurrentName"]</label>
                </div>
                <button type="button" class="btn btn-danger removeToponmy">@Localizer["Remove"]</button>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary" onclick="addToponymy()">@Localizer["PlaceName_Add"]</button>
    <div class="mb-3">

        <label asp-for="Settlement.Byname" class="control-label"></label>
        <input asp-for="Settlement.Byname" class="form-control" aria-label="@Localizer["Byname"]"
               data-bs-toggle="tooltip-byname" data-bs-placement="top"
               data-bs-custom-class="byname-tooltip"
               data-bs-title="@Localizer["Byname"]" />
        <span asp-validation-for="Settlement.Byname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Toponymy"]</th>
                    <th scope="col">@Localizer["FurtherSpecs"]</th>
                    <th scope="col">@Localizer["Relationship"]</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="appendPlaceHere">
                @if (Model.Settlement.RelatedGeography != null)
                {
                    var vm = PlaceViewModelHelper.FromDomainModel(Model.Settlement.RelatedGeography);
                    <tr data-type="related" class="placeTableRow">
                        <td>@Html.Raw(vm.Toponymy)</td>
                        <td>@Html.Raw(vm.FurtherSpecs)</td>
                        <td>@Localizer["RelatedGeography"]</td>
                        <td>
                            <input type="hidden" asp-for="Settlement.RelatedGeographyID">
                            <button type="button" class="btn btn-danger btn-sm removePlaceRow">@Localizer["Remove"]</button>
                        </td>
                    </tr>
                }
                @if (Model.Place.ParentPlace != null)
                {
                    var vm = PlaceViewModelHelper.FromDomainModel(Model.Place.ParentPlace);
                    <tr data-type="parent" class="placeTableRow">
                        <td>@Html.Raw(vm.Toponymy)</td>
                        <td>@Html.Raw(vm.FurtherSpecs)</td>
                        <td>@Localizer["ParentPlace"]</td>
                        <td>
                            <input type="hidden" asp-for="Place.ParentPlaceID">
                            <button type="button" class="btn btn-danger btn-sm removePlaceRow">@Localizer["Remove"]</button>
                        </td>
                    </tr>
                }
                @if (Model.ChildPlaceList.Count > 0)
                {
                    for( int i = 0; i < Model.ChildPlaceList.Count; i++)
                    {
                        var vm = PlaceViewModelHelper.FromDomainModel(Model.ChildPlaceList[i]);
                        <tr data-type="child" class="placeTableRow">
                            <td>@Html.Raw(vm.Toponymy)</td>
                            <td>@Html.Raw(vm.FurtherSpecs)</td>
                            <td>@Localizer["ChildPlace"]</td>
                            <td>
                                <input type="hidden" name="ChildPlaceList[@i].PlaceID" value="@Model.ChildPlaceList[i].PlaceID">
                                <button type="button" class="btn btn-danger btn-sm removePlaceRow">@Localizer["Remove"]</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#placeModal">
            @Localizer["PlaceName_Add"]
        </button>
    </div>
    <button class="btn btn-primary">@Localizer["Edit"]</button>
</form>

<partial name="~/Views/PlaceDatabase/_ModalPlace.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}